@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background-color: rgb(240, 240, 234);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.log {
    text-decoration: none;
    color: rgb(240, 240, 234);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8em;
    background-color: rgb(23, 101, 101);
    border-radius: 8px;
    box-shadow: 5px 6px 5px rgb(1 1 1 / 15%);
    padding: 5px;
}

.log span {
    color: #4c9ca8;
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    padding-right: 30px;
}

.nav a:hover {
    color: rgb(134, 174, 255);
    display: inline-block;
    transform: scale(1.1);
}

.nav a span {
    background-color: rgb(23, 101, 101);
    border-radius: 8px;
    box-shadow: 5px 6px 5px rgb(1 1 1 / 15%);
    padding: 10px;
    transition: 0.5s ease;
    transform: scale(1.1);
}

.main {
    padding: 220px 200px;
    min-height: 60vh;
    display: flex;
    align-items: center;
    background: url(wallpaperflare-cropped.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.5em;
}

.main h2 span {
    display: inline-block;
    color: rgb(134, 174, 255);
    font-weight: 600;
    font-size: 3em;
    margin-top: 10px;
}

.main h3 {
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.pro-btn {
    color: #fff;
    background-color: rgb(58, 108, 244);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.5s ease;
}

.pro-btn:hover {
    background-color: rgb(23, 101, 101);
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(58, 108, 244);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 40px;
    margin-top: 10px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px 5px rgba(1 1 1/15%);
    border-radius: 10px;
    padding: 25px;
    margin: 17px;
}

.card:hover {
    background-color: rgb(195, 225, 225);
    transform: scale(1.1);
    transition: 0.5s ease;
}

.icon {
    color: rgb(58, 108, 244);
    font-size: 8em;
    text-align: center;
    font-size: 4.5em;
    font-weight: 700;
    margin: 10px;
}

.info {
    text-align: center;
}

.info h3 {
    color: rgb(58, 108, 244);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info p {
    font-weight: 450;
}

#OO {
    color: rgb(10, 16, 16);
}

.sk {
    padding: 160px;
}

.tit {
    color: rgb(58, 108, 244);
    font-weight: 500;
    font-size: 1.5em;
    margin-left: 50px;
}

.pro-section {
    background-color: rgb(0, 0, 22);
    margin-bottom: 60px;
    padding: 100px;
}

.pro-section .content {
    margin-top: 30px;
}

.pro-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 6em;
    width: 22.5em;
    overflow: hidden;
    border-radius: 7px;
    margin: 20px;
    box-shadow: 0 2px 5px rgb(251, 251, 251);
}

.pro-card:hover {
    transition: 0.7s ease;
    transform: scale(1.1);
}

.pro-card:hover .card-img {
    opacity: 0.9;
}

.card-img img {
    width: 100%;
    height: 390px;
}

.pro-info {
    padding: 1em;
}

.pro-cate {
    font-size: 0.8em;
    color: rgb(0, 0, 16);
}

.pro-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-de {
    text-decoration: #2c8798;
    color: #fff;
    border-radius: 7px;
    background-color: rgb(23, 101, 101);
    padding: 5px;
}

.more-de:hover {
    background-color: rgb(58, 108, 244);
    transform: scale(1.1);
    transition: 0.5s ease;
}

.c-contact {
    padding: 80px;
}

.c-contact .title {
    margin-bottom: 40px;
}

.tel {
    text-decoration: none;
}

.footer {
    background-color: rgb(0, 0, 22);
    color: #fff;
    padding: 2.9em;
    display: flex;
    justify-content: space-around;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a {
    font-size: 1.3em;
}

.footer .social-icons a:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

@media (max-width:1024px) {
    header {
        padding-left: 10px;
    }
    .title {
        font-size: 1.8em;
    }
    .main {
        padding: 160px;
        min-height: 70vh;
    }
    section {
        padding: 80px;
    }
    .content {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width:768px) {
    body {
        font-size: 12px;
    }
    .main {
        padding: 80px;
        min-height: 80vh;
    }
    .nav .skill {
        margin-top: 7px;
        margin-left: 16px;
        margin-right: -12px;
    }
    .nav .prog {
        margin: 7px;
        margin-right: -9px;
        margin-left: 3px;
    }
    .nav .cont {
        margin-top: 7px;
    }
    .nav {
        margin: -10px;
        display: flex;
    }
    .tit {
        margin-left: -30px;
    }
    .card-img img {
        height: 300px;
    }
    .sk {
        padding: 70px;
    }
    .pro-section {
        padding: 40px;
    }
}

@media (max-width:425px) {
    body {
        font-size: 7px;
    }
    .nav {
        margin-left: 40px;
    }
    .main {
        padding: 40px;
        min-height: 90vh;
    }
    .card-img img {
        height: 200px;
    }
    .sk {
        padding: 50px;
    }
    .pro-section {
        padding: 40px;
    }
}

@media (max-width:320px) {
    body {
        font-size: 7px;
    }
    header {
        justify-content: space-between;
    }
    .nav {
        padding: 2px;
        margin-left: -10px;
    }
    .tit {
        margin-left: -8px;
    }
    .sk {
        padding: 10px;
    }
    .card-img img {
        height: 150px;
    }
    .pro-section {
        padding: 10px;
    }
}